<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UUVPN.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>280</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
				<key>dateExpires</key>
				<string>2025/6/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PhoneNumberKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>3.7.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_icmp_ping.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libphonenumber_plugin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>200</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D652A6A9A0577A7779766EE0D96D145DE2CC31E3</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>26XWXKSR3B.com.vpntunnel.vpnzeus.PacketTunnel</string>
						<key>com.apple.developer.networking.networkextension</key>
						<array>
							<string>packet-tunnel-provider</string>
						</array>
						<key>com.apple.developer.team-identifier</key>
						<string>26XWXKSR3B</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.vpntunnel.vpnzeus</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>PacketTunnel.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>7db3b7d4-8ce2-4085-a925-746a4cc0f545</string>
						<key>dateExpires</key>
						<string>2025/6/27</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.vpntunnel.vpnzeus.PacketTunnel</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>26XWXKSR3B</string>
						<key>name</key>
						<string>Chengdu lionhead technology Co,. Ltd</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.6</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>26XWXKSR3B.com.vpntunnel.vpnzeus</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.networking.networkextension</key>
				<array>
					<string>packet-tunnel-provider</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>26XWXKSR3B</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.vpntunnel.vpnzeus</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>6a88fea9-9d1a-4b64-8833-d6d138c1ad72</string>
				<key>dateExpires</key>
				<string>2025/6/27</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.vpntunnel.vpnzeus</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>26XWXKSR3B</string>
				<key>name</key>
				<string>Chengdu lionhead technology Co,. Ltd</string>
			</dict>
			<key>versionNumber</key>
			<string>2.0.0</string>
		</dict>
	</array>
</dict>
</plist>
